.article-card {
  margin-top: 3rem;
  box-shadow: $shadow-dark;

  &__buttons {
    display: flex;
    justify-content: space-between;

    &-comment {
      margin-left: 4.15rem;
      margin-bottom: 3rem;
    }

    &-save {
      margin-right: 4.15rem;
    }
  }

  &__content {
    display: flex;
    padding: 3rem;

    &-img {
      height: 15rem;
      width: 15rem;
      box-shadow: $shadow-dark;
    }

    &-summary-text {
      font-size: 1.8rem;
      margin-left: 1rem;
    }
  }

  &__title {
    display: flex;
    width: 100%;
    padding: 2rem;
    justify-content: center;
    background-image: $color-background-1;
    color: #fff;

    &-text {
      font-size: 2rem;
    }
  }
}

.btn {
  &,
  &:link,
  &:visited {
    background-image: $color-background-1;
    padding: 1.5rem 2rem;
    cursor: pointer;
    transition: all 0.2;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 10rem;
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba(#000, 0.4);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.4);
    transform: translateY(0);
  }

  &-scrape {
    margin-right: 1rem;
  }
}
