.article-card {
  margin-top: 3rem;
  box-shadow: $shadow-dark;
  display: flex;
  padding: 3rem;

  &__text {
    margin-left: 2rem;
  }
}

.btn {
  &,
  &:link,
  &:visited {
    background-image: $color-background-1;
    padding: 1.5rem 2rem;
    cursor: pointer;
    transition: all 0.2;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 10rem;
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba(#000, 0.4);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.4);
    transform: translateY(0);
  }

  &-scrape {
    margin-right: 1rem;
  }
}

img {
  height: 11rem;
  width: 11rem;
}
